@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-rotion-50: #ebeaed;
  --color-rotion-100: #c1bfc7;
  --color-rotion-200: #a3a0ac;
  --color-rotion-300: #797486;
  --color-rotion-400: #5f596e;
  --color-rotion-500: #37304a;
  --color-rotion-600: #322c43;
  --color-rotion-700: #272235;
  --color-rotion-800: #1e1a29;
  --color-rotion-900: #17141f;

  --animate-slideIn: slideIn 0.25s;
  --animate-slideOut: slideOut 0.25s;
}

* {
  font-family: var(--font-sans);
}

@keyframes slideIn {
  from { width: 0; }
  to { width: var(--radix-collapsible-content-width); }
}

@keyframes slideOut {
  from { width: var(--radix-collapsible-content-width); }
  to { width: 0; }
}

button {
  -webkit-app-region: no-drag;
  app-region: no-drag;
}

.region-drag {
  app-region: drag;
  -webkit-app-region: drag;
  pointer-events: none; 
}

.region-no-drag {
  -webkit-app-region: no-drag;
  app-region: no-drag;
  pointer-events: auto;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}
